*{
    box-sizing: unset;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Encode Sans", sans-serif;
    background-color: #111;    
}

#text{
    width: 0;
    height: 0;
}

.promo{
    background-color: #dd1f26;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;    
}
.promo_int{
    color: #FFF;
    width: 100%;
    max-width: 900px;
    height: 60px;
    display: flex;        
    justify-content: space-between;
    align-items: center;
}
.promo_int img{
    width: 52px;
    height: 50px;    
}
.text_promo{
    display: flex;
    flex-direction: column;        
}
.val_promo{
    font-size: 25px;
}
.text_promo_top{
    margin-bottom: 5px;
}
.text_promo_bot{
    font-size: 10px;
}


.banner{            
    width: 100%;
    height: 415px;
    position: absolute;    
    margin-top: -100px;
    z-index: -1;
}
.banner img{
    height: 415px;
    background-size: cover;
    background-repeat: no-repeat;
}


.change{
    margin-top: 320px;
    display: flex;
    justify-content: center;
}
.change_int{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 90px;    
}
.change_int a{
    width: 10%;
    height: 2px;
    background-color: #414141;
}

.button_on{    
    height: 2px;
    background-color: #dd1f26;
}


.seta{
    margin-top: -410px;
    height: 320px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.seta_int{
    display: flex;
    justify-content: space-between;
    width: 1225px;
}
.seta_left img,
.seta_right img{
    width: 15px;
    height: 28px;
}




#menu_mobile{
    display: none;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);    
    display: flex;
    justify-content: center;
    align-items: center;    
}
.header_int{    
    width: 100%;
    max-width: 1225px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 190px;
    height: 40px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.nav_prod{
    margin-left: -8px;
    width: 55%;
    display: flex;      
    flex-direction: column;  
}
.nav_prod_int{
    width: 100%;
    display: flex;    
    font-size: 14px;        
}
.prod{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}
.prod a{
    color: #FFF;
    text-decoration: none;
}
.pc,
.acessorios,
.hardware,
.perif,
.escritorio,
.shop{
    padding-left: 10px;
    padding-right: 10px;
}


.nav_link_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

form{
    margin-left: -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 72%;
}
form #search{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 85%;
    background-color: #111;
    border: 2px solid #3d3d3d;
    border-radius: 5px;
    color: #FFF;
}
form #search:focus, input:focus, select:focus {
    outline: 0;
}

.lupa_desktop{
    width: 18px;
    height: 18px;    
}
.lupa_mobile{
    display: none;
}

.nav_contato img{
    width: 27px;
    height: 27px;
    margin-left: 20px;
    margin-right: 25px;
}

.nav_carrinho{
    width: 55px;
    height: 40px;
}
.nav_carrinho img{
    width: 20px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 11px;
    padding-left: 15.5px;
    padding-right: 15.5px;
    border: 2px solid #dd1f26;
    border-radius: 5px;
}


.prod_item{
    margin-top: -20px;
    width: 100%;
    height: 220px;
    background-color: #111;
    display: none;
}


@media only screen and (min-width: 1000px) and (max-width: 1225px){    
    .promo_int{
        width: 734px;
    }
    .text_promo_top{
        font-size: 13px;
    }
    .val_promo{
        font-size: 20px;
    }
    .promo_int img{
        width: 45.8px;
        height: 45px;        
    }
    
    
    .header_int{
        max-width: 1000px;
    }
    .logo{
        width: 170px;
        height: 35.7px;
    }
    nav{
        width: 79%;
    }    
    .nav_link_right{
        width: 39%;
    }
    form{
        width: 60%;
        margin-left: 0px;
    }


    form #search{
        font-size: 12px;
        margin-right: 3px;
        padding-left: 10px;
    }
    .lupa_desktop{
        width: 18px;
        height: 18px;
    }    


    .nav_prod{
        width: 63%;
        max-width: 503px;
    }
    .nav_prod_int{
        font-size: 13px;
    }

    .shop{
        margin-right: 0px;
    }

    
    .nav_contato,
    .nav_contato img{
        width: 23px;
        margin: 0;
        padding: 0;
        height: 23px;
    }    
    .nav_carrinho{
        width: 37px;
        height: 25px;
    }
    .nav_carrinho img{
        border: 1px solid #dd1f26;
        width: 15px;
        height: 15px;
        padding-top: 3px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;        
        border-radius: 2px;
    }



    .seta_int{
        width: 1000px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1000px){    
    .promo_int{
        width: 564px;
    }
    .header_int{
        max-width: 768px;
    }
    .logo{
        width: 160px;
        height: 33.6px;
    }

    .text_promo_top{
        font-size: 10px;
    }
    .val_promo{
        font-size: 15px;
    }
    .promo_int img{
        width: 41.6px;
        height: 40px;                
    }
    

    
    nav{
        width: 75%;
    }
    form #search{
        display: none;        
    }
    form{
        width: 18px;
    }
    .nav_prod{
        width: 82%;
    }
    .nav_link_right{
        width: 18%;
    }
    .nav_prod_int{
        font-size: 12px;
    }
    .nav_contato img{
        margin: 0;
    }
    .seta_int{
        width: 768px;
    }
    
    .nav_contato,
    .nav_contato img{
        width: 23px;
        margin: 0;
        padding: 0;
        height: 23px;
    }    
    .nav_carrinho{
        width: 37px;
        height: 25px;
    }
    .nav_carrinho img{
        border: 1px solid #dd1f26;
        width: 15px;
        height: 15px;
        padding-top: 3px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;        
        border-radius: 2px;
    }        

}

@media only screen and (min-width: 755px) and (max-width: 769px){        
    .promo_int{
        width: 564px;
    }
    .header_int{
        max-width: 760px;
    }
    .logo{
        width: 160px;
        height: 33.6px;
    }

    .text_promo_top{
        font-size: 10px;
    }
    .val_promo{
        font-size: 15px;
    }
    .promo_int img{
        width: 41.6px;
        height: 40px;                
    }
    

    
    nav{
        width: 75%;
    }
    form #search{
        display: none;        
    }
    form{
        width: 18px;
    }
    .nav_prod{
        width: 82%;
    }
    .nav_link_right{
        width: 18%;
    }
    .nav_prod_int{
        font-size: 12px;
    }
    .nav_contato img{
        margin: 0;
    }
    .seta_int{
        width: 760px;
    }
    
    .nav_contato,
    .nav_contato img{
        width: 23px;
        margin: 0;
        padding: 0;
        height: 23px;
    }    
    .nav_carrinho{
        width: 37px;
        height: 25px;
    }
    .nav_carrinho img{
        border: 1px solid #dd1f26;
        width: 15px;
        height: 15px;
        padding-top: 3px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;        
        border-radius: 2px;
    }    
    .lupa_desktop{
        width: 18px;
        height: 18px;    
    }
    
}

@media only screen and (max-width: 755px){
    header{
        background-color: #000;
        height: 50px;
    }
    .promo{
        display: none;
    }
    .header_int{
        display: none;
    }
    #menu_mobile{
        display: block;
    }

    #left_side_mobile{
        display: flex;
        align-items: center;
    }
    .icon_mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
    }
    .icon_parts{
        background-color: #FFF;
        width: 30px;
        height: 3px;
        margin-left: 10px;
    }

    .logo_mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #right_side_mobile{
        display: flex;  
        justify-content: flex-end;
        align-items: center;      
    }    
    .img_lupa_img{
        width: 30px;
        height: 30px;
        padding-right: 10px;        
    }

    .col-1, .col-2, .col-6, .col-10, .col-11, .col-sm-1, .col-sm-2, .col-sm-6, .col-sm-8, .col-sm-11{
        padding: 0;
    }

    .banner{
        margin-top: 0px;        
    }
    .banner img,
    .banner{
        height: 200px;
    }

    .change_int{
        width: 50%;
    }
    .change{        
        margin-top: 200px;
    }
    .seta{                
        height: 200px;
        margin-top: -290px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #menu_open_mobile{                        
        position: fixed;
        margin-top: -50px;
    }

    .linha_menu{
        background-color: rgb(26, 26, 26);
        color: #FFF;
    }

    .menu_open_login{
        font-size: 15px;
    }
    .menu_open_login a{
        color: #dd1f26;
        text-decoration: underline;
    }

    #menu_open_first{
        margin: 0;        
        margin-top: 10px;
        display: flex;
        justify-content: center;        
    }
    .menu_second_img{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    hr{
        border-top: 1px solid #FFF;
    }
    .menu_third_img{
        display: flex;
        justify-content: flex-start;
    }
}


















